body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
    color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: "Permanent Marker";
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    margin:0;
}

h2 {
    color: #EEB422;
    font-family: 'Permanent Marker';
    font-size:24px;    
}

header {
    margin: 1% 0 2%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.start-scene {
    background-color: #f4f3f4;
    border-radius: 8px;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    background-color: #EEB422;
    border: none;
    border-radius: 6px;
    height : 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
}

.start:hover {
    background-color: #FF7F50;
}

.avatar-scene {
    display: none;
    background-color: #f4f3f4;
    border-radius: 8px;
    width: 800px;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avatar-scene > h2 {
    padding-top:8%;
    margin-bottom: 0;
    font-size: 35px;
}

.avatars-choice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding-bottom: 16%;
}

.avatar-girl, .avatar-boy {
    width: 100px;
    padding:2%;
} 

.avatar-girl:hover, .avatar-boy:hover {
    border: 2px solid #EEB422;
    border-radius: 5px;
    box-shadow: 0 0 5px #EEB422;
    width: 120px;

}


canvas {
    background-color: #f4f3f4;
    border-radius: 8px;
    display:none;
}

.end-scene {
    display: none;
    position: absolute;
    top: 380px;
    width: 800px;
}


.play-again {
    border: 3px solid #C71585;
    color: #C71585;
    background-color: #f4f3f4;
    border-radius: 6px;
    height : 50px;
    font-size: 20px;
    font-weight: bold;
    animation: 0.8s crazycolor infinite alternate;
    display: block;
    width: 160px;
    margin: auto;
}


@keyframes crazycolor {
    0% {
        border-color: #C71585;
        color: #C71585;
    }
    50% {
        border-color: #C71585;
        color: #C71585;
    }
    100% {
        border-color: #8A2BE2;
        color: #8A2BE2;
    }

}

.game-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f3f4;
    padding: 4%;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-style: bold;
}


.instructions, .result {
    height: 20%;
}

.instructions > p, .instructions-title  {
    margin: 0;
}

.brain-status {
    flex-direction: column;
    height:39%;

}

.brain-title {
    margin-top:0;

}

.brain-img {
    width: 200px;
}

.trophy {
    margin-bottom: 0;
}